.Rproj.user
.Rhistory
.RData
.Ruserdata
.png
.jpg
.pdf
.gz
Data/YahooOpenData/ydata-fp-td-clicks-v1_0.20090501.gz
Data/YahooOpenData/ydata-fp-td-clicks-v1_0.20090501
Data/YahooOpenData/ydata-fp-td-clicks-v1_0.20090502.gz
Data/YahooOpenData/ydata-fp-td-clicks-v1_0.20090504.gz
Data/YahooOpenData/ydata-fp-td-clicks-v1_0.20090503.gz
Data/YahooOpenData/ydata-fp-td-clicks-v1_0.20090505.gz
Data/YahooOpenData/ydata-fp-td-clicks-v1_0.20090506.gz
Data/YahooOpenData/ydata-fp-td-clicks-v1_0.20090507.gz
Data/YahooOpenData/ydata-fp-td-clicks-v1_0.20090508.gz
Data/YahooOpenData/ydata-fp-td-clicks-v1_0.20090509.gz
Data/YahooOpenData/ydata-fp-td-clicks-v1_0.20090510.gz
MAB/data_n=1e+06.csv
